@import "src/webassets/styles/mixins/flex-mixins";
@import "src/webassets/styles/colors";

.metric-track {
  position: absolute;
  top: 25px;
  width: 200px;
  border-radius: 100px;
  height: 7px;
  background: rgb(255,0,0);
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(127,82,6,1) 71%,
    rgba(85,150,17,1) 89%, rgba(35,255,0,1) 100%);
}

.metric-container {
  @include setFlexProps(row, center, center);
}

.scale-container {
  width: 275px;
  position: relative;
  @include setFlexProps(column, start, center);
}

.icon-scale {
  width: 100%;
  @include setFlexProps(row, flex-end, center);
  color: #4f4f4f;
  p {
    min-width: 26px;
    //margin: 0 0 5px 3px;
    margin-bottom: 5px;
    margin-left: 3px;
  }
}
