@import "src/webassets/styles/mixins/flex-mixins";
@import "src/webassets/styles/colors";


.experiment-card {
  @include setFlexProps(column, start, center);
}

.swiper-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.spinner-container {
  margin-top: 90px;
  @include setFlexProps(column, center, center);
  position: absolute;
  height: calc(100% - 90px - 82px);
  width: 100%;
  z-index: 1000;
  background-color: $light-blue;
}

.score-container {
  //@include setFlexProps(column, center, center);
  width: 100%
}
