@import "src/webassets/styles/mixins/flex-mixins";
@import "src/webassets/styles/colors";


.experiment-card {
  @include setFlexProps(column, start, center);
}

.swiper-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.spinner-container {
  margin-top: 90px;
  @include setFlexProps(column, center, center);
  position: absolute;
  height: calc(100% - 90px - 82px);
  width: 100%;
  z-index: 1000;
  background-color: $light-blue;
}

.score-container {
  width: 100%
}

.answer {
  mat-card {
    @include setFlexProps(column, center, center);
    height: calc(100% - 90px - 82px);
    margin: 25px 10px 0 10px;
    border-radius: 20px;
    p {
      margin-top: 40px;
      font-size: 40px;
      opacity: 0.3;
      //font-weight: bold;
    }
  }
}

.answer-icon {
  transform: scale(3);
  opacity: 0.3;
}

.negative {
  background: rgb(236,0,0);
  background: linear-gradient(90deg, rgba(236,0,0,1) 19%, rgba(223,93,0,1) 67%);
}

.positive {
  background: rgb(0,223,146);
  background: linear-gradient(90deg, rgba(0,223,146,1) 14%, rgba(0,236,7,1) 84%);
}
