/* You can add global styles to this file, and also import other style files */
@import "src/webassets/styles/colors";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Montserrat, "Montserrat", sans-serif;
  background-color: $light-blue;
}

swiper>.swiper.s-wrapper {
  height: calc(100% - 82px) !important;
}
